@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  background-color: #0f0f0f;
  color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Map Fixes */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  border-radius: 0.5rem;
}